
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/css/font-awesome.css";

body{
  background-image: url('/images/bgd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;

}